.item-not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 9999;
}

.item-not-found-container h1 {
    color: #d32f2f;
    font-size: 2.5rem;
    font-weight: bold;
}